[workspace]
members = ["fortitude", "fortitude_macros"]
resolver = "2"

[workspace.package]
edition = "2021"
rust-version = "1.80"
repository = "https://github.com/PlasmaFAIR/fortitude"
authors = [
  "Liam Pattinson <liampattinson@gmail.com>",
  "Peter Hill <peter.hill@york.ac.uk>",
]
license = "MIT"

[workspace.dependencies]
colored = { version = "2.1.0" }
itertools = "0.12.0"
serde_json = { version = "1.0.113" }
strum = { version = "0.26.0", features = ["strum_macros"] }
strum_macros = { version = "0.26.0" }
