site_name: Fortitude
site_url: !ENV READTHEDOCS_CANONICAL_URL
site_description: An extremely fast Fortran linter, built on ruff and tree-sitter
repo_url: https://github.com/PlasmaFAIR/fortitude
repo_name: fortitude
theme:
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - navigation.top
    - navigation.tracking
    - toc.follow
    - toc.integrate
  # https://squidfunk.github.io/mkdocs-material/customization/
  custom_dir: docs/overrides
  logo: assets/fortitude_logo_white.png
  favicon: assets/favicon.ico
  palette:
  - media: (prefers-color-scheme)
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  - media: '(prefers-color-scheme: light)'
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference

# Include extra CSS to make some style adjustments
extra_css:
  - stylesheets/readthedocs.css

# Include extra JS to setup Read the Docs addons integrations
extra_javascript:
    - javascript/readthedocs.js
    - javascript/extra.js

markdown_extensions:
  - admonition
  - pymdownx.details
  - toc:
      anchorlink: true
      anchorlink_class: "toclink"
  - pymdownx.snippets:
  - pymdownx.magiclink:
  - attr_list:
  - md_in_html:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite:
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  - markdown.extensions.attr_list:
  - pymdownx.keys:
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Overview: index.md
  - Tutorial: tutorial.md
  - Installing Fortitude: installation.md
  - The Fortitude Linter: linter.md
  - Configuring Fortitude: configuration.md
  - Preview: preview.md
  - Rules: rules.md
  - Settings: settings.md
  - Integrations: integrations.md
  - FAQ: faq.md
  - Changelog: release_notes.md
  - Contributing: contributing.md

# Too many rules, don't include them in the left-hand nav bar
not_in_nav: |
  /rules/*

plugins:
  - search
  - include-markdown
